@model Abantwana_DayCare.Models.Toodler

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Dashboard.cshtml";
}



<div>
    <h4>Toodler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parent.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_of_Birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_Birth)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Toodler_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
